header {
    grid-area: header;
    background-color: DodgerBlue;
    padding: 10px;
    text-align: center;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 5s; 
    animation-name: example;
    animation-duration: 5s;
}
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
h3 {
  padding: 30px;
  font-size: 35px;
  text-align: center;
  color: yellow;
  width: 11em; 
  border: 3px solid;
  word-wrap: break-word;
}
footer {
  grid-area: footer;
  background-color: DodgerBlue;
  padding: 10px;
  text-align: center;
}

.texto_responsive:before{
  content: attr(data-desktoptext);
}

@media (max-width:900px) {
    .texto_responsive:before {
        content: attr(data-tablettext);
    }
}

@media (max-width:400px){
    .texto_responsive:before {
        content: attr(data-phonetext);
    }
}