header {
    grid-area: header;
    background-color: DodgerBlue;
    padding: 10px;
    text-align: center;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 5s; 
    animation-name: example;
    animation-duration: 5s;
}
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
footer {
  grid-area: footer;
  background-color: #000000;
  padding: 10px;
  text-align: center;
}
#nombre{
   background:url('/images/image7.jpg');
}